* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans',sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: cadetblue;
    color: #fff;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: black;
    margin-bottom: 1rem;
}

#new-task-form {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: darkorange;
    font-size: 1.25rem;
}

#new-task-input::placeholder {
    color: grey;
}

#new-task-submit {
    color: black;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: grey;
    border-radius: 2rem;
    padding: 1rem;
    text-transform: uppercase;
}

main {
    flex: 1 1 0%;
    /* padding: 2rem 1rem; */
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .content .text {
    font-size: 1.5rem;
}

#task .task .content .text{
    color: black;
    font-size: 1.125rem;
    width: 100%;
    display: block;
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
}

.task .actions .edit {
    background-color: grey;
    border-radius: 2rem;
    padding: 0.5rem;
}

.task .actions .delete {
    background-color: grey;
    border-radius: 2rem;
    padding: 0.5rem;
}